.bg-container{
  width: 90%;
  margin: auto;
}
.bg-container h1{
  margin:auto;
  text-align: center;
  padding-top: 2rem;
  
}
.card-header h1{
  color: darkmagenta;
  font-size: 1.5rem;
  margin: .5rem;
}
.pdf-view-container{
  border: 1px solid lightgrey;
  margin: 1rem;
  padding: 2rem;
  background: lightgray;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.search-btn{
  border-radius: 5px;
  background-color: darkmagenta;
  padding: .5rem 2rem;
  border: none;
  color:white;
}
.search-container{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  flex-wrap: wrap;
}
.file-input{
  background-color: rgb(215, 221, 226);
  width: 100%;
  padding: .2rem;
  border-radius: 5px;
}
.search-input{
  background: lightgrey;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-weight: 400;
}

li{
  list-style-type: none;
  background: white;
  color:darkgray;
}
.search-history-container {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: none;
}

.search-history-container.active {
  display: block;
}
.bottom-text{
  color:black;
  font-size: 1rem;
  font-weight: 500;
}